<!DOCTYPE html>
<html>
<head>
	<title>Ololo</title>
</head>
<body>
<style>
	#engine{
		background: #939393;
		position: fixed;
		top: 10px;
		left: 10px;
		width: 700px;
		height: 700px;
		border: 1px solid #898989;
	}
</style>
<div id="engine">

	<script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>

	/*{{ tz_engine_div }}*/

</div>

/*{{ tz_include_js }}*/

<script type="text/javascript">
	window.DEBUG = true;
	// ----------------------------------------
	// Embedded code and startup code.
	// Supplied by 'tz_startup_code' variable.
	// ----------------------------------------
	/*{{ tz_startup_code }}*/
</script>
</body>
</html>